[Unit]
Description=PostgreSQL for SRS (task-weekly)
After=network.target

[Service]
Type=simple
User=akbar
Environment=PGDATA=/home/akbar/pgdata/srs_db
Environment=PGPORT=5432

# Init DB jika belum ada
ExecStartPre=/bin/bash -c 'if [ ! -f /home/akbar/pgdata/srs_db/PG_VERSION ]; then /usr/lib/postgresql/*/bin/initdb -D /home/akbar/pgdata/srs_db; fi'

# Jalankan postgres
ExecStart=/usr/lib/postgresql/16/bin/postgres -D /home/akbar/pgdata/srs_db -c listen_addresses=localhost -c port=5432

Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal
SyslogIdentifier=srs-postgres

[Install]
WantedBy=multi-user.target
